<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <% include navbar.ejs %>
    <div id="admin" class="box">
        <table>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Points</th>
                <th>Prizes</th>
            </tr>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.first + " " + user.last %></td>
                    <td><%= user.email %></td>
                    <td><%= user.points %></td>
                    <td>
                        <div class="prizes-col">
                        <% if (prizes[user.id] != null) { %>
                        <% prizes[user.id].forEach(prize => { %>
                            <div>
                                <span class="tier-name"><%= prize.tier.charAt(0).toUpperCase() + prize.tier.slice(1) %></span>
                                <span class="prize-name"><%= prize.name %></span>
                            </div>
                        <% }) %>
                        <% } %>
                        </div>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
</body>
</html>
